<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.memoria.model.dao.RollingPaperDao">

	<!-- 전체 조회 -->
	<select id="selectAll" resultType="RollingPaper">
		SELECT rollingPaperNo, u.userName, title, writerCount, r.regDate
		FROM rollingPapers r
		LEFT JOIN users u
		ON r.ownerNo = u.userNo
	</select>

	<!-- 상세 조회 -->
	<select id="selectOne" parameterType="int">
		SELECT u.userName, writerCount
		FROM users u
		LEFT JOIN rollingPapers r
		ON u.userNo = r.ownerNo
		WHERE rollingPaperNo = #{rollingPaperNo}
	</select>

	<!-- 롤링페이퍼 등록 -->
	<insert id="insertRollingPaper" parameterType="RollingPaper"
        useGeneratedKeys="true" keyProperty="rollingPaperNo">
    	INSERT INTO rollingPapers (ownerNo, title)
    	VALUES (#{ownerNo}, #{title})
	</insert>

	<!-- 롤링페이퍼 삭제 -->
	<delete id="deleteRollingPaper" parameterType="int">
		DELETE FROM rollingPapers
		WHERE rollingPaperNo = #{rollingPaperNo}
	</delete>

	<!-- 롤링페이퍼 수정 -->
	<update id="updateRollingPaper" parameterType="RollingPaper">
		UPDATE rollingPapers
		SET title = #{title}, regDate = now()
		WHERE rollingPaperNo = #{rollingPaperNo}
	</update>

	<!-- 조회수 증가 -->
<!-- 	<update id="updateViewCnt" parameterType="int">
		UPDATE rollingPapers
		SET view_cnt = view_cnt+1
		WHERE id = #{id}
	</update> -->

</mapper>