body {
  background: linear-gradient(
    150deg,
    #ffeaea 0%,
    #ffe1e1 40%,
    #ffd8d8 60%,
    #ffc3c3 80%,
    #ffb0b0 100%
  );
  background-repeat: no-repeat; /* 그라데이션 반복 방지 */
  background-attachment: fixed;
}
